.services-table{
    width: 100%;
}
.bouton-detail{
    padding: 0 40px;
    color: white;
    background: #0B2559;
    font-size: 18px;
}
.services-table-head{
    text-align: left;
}
.service-search{
    text-align: right;
}
.step-arrow{

}
.step-wrap{
    border: 1px solid #ddd;
}
.step-wrap-header{
    height: 6rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.step-editor{
    /*height: 15rem;*/
}

